page-login {

    img{
        max-width: 60%;
    }
    .content{
       //background-image: url('../assets/imgs/import.jpg');
       background-repeat: none;
       background-size: cover;
    }

    .login_form{
        margin-bottom: 15%;
        align-content: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
}
