page-search {
    img{
        max-width: 60%;
    }
 .content{
       //background-image: url('../assets/imgs/navio.jpg');
       background-repeat: none;
       background-size: cover;
    }

   
}
