page-cotacao {
        img{
        max-width: 60%;
    }
    .content{
       //background-image: url('../assets/imgs/cambio.jpg');
       background-repeat: none;
       background-size: cover;
    }

    .item{
        background-color: #000;
        color: #daa520
    }

    

 
}
