page-edit-perfil {
img{
        max-width: 60%;
    }
     .login_form{
        align-content: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
}
